{% extends 'header.html' %}
{% block title %} Home | {% endblock title %}
{% block body %}
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <img src="/static/images/newdp.png"><br />
            <h1><b>Mehedi Hasan Tanvir</b></h1><br>
            <br>
            <h4>STUDENT | UNDERGRAD</h4>
            <div class="line"></div>
        </div>
        <div class="col-md-6 mx-auto my-5 text-center">
            <h2><b>About Me</b></h2><br>
            <p>Carpe diem is one of my defining features. I worry less about tomorrow and enjoy today. Who knows if
                I'll
                get to enjoy tomorrow in all its glory!</p>
            <p>I lived throughout the country in my childhood, Dhaka, Khagrachari, random places in Narshingdi. Then
                kinda
                settled in Kishoreganj for a while. Went to Kishoreganj Govt. Boys High School.
                Came to Dhaka for college, went to BAF Shaheen College, Dhaka. Then enrolled into
                BRAC University's CSE department to complete undergrad. Might switch to CS pretty soon
                though as I find EEE courses tiring.
            </p>
            <p>
                I have learned C and C++ by myself, university helped me learn Python. I did a little of wap design
                in
                high
                school, so I had prior knowledge of HTML, CSS and little JavaScript. I'm currently trying out Flask
                and
                Django.
                I plan on learning React.JS and then Flutter & Dart. However, I want to dive deep into the world of
                AI
                as it
                truly fascinates me.
            </p>
        </div>
    </div>
</div>
<br>
{% endblock body %}