{% extends 'header.html' %}
{% block title %} Guide | {% endblock title %}
{% block body %}

<div class="container-fluid my-5">
    <div id="videoguides" class="row">
        <div class="col-md-3 my-2 text-center">
            <div class="container my-5 chatbox bottom-half answer-text">
                <h3><b>Full Guide</b></h3>
            </div>
            <iframe width="315" height="560" src="https://www.youtube.com/embed/uS0ropq_hS8?si=miPCm414JmiBuPLh"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <div class="line"></div>
        </div>
        <div class="col-md-3 my-2 text-center">
            <div class="container my-5 chatbox bottom-half answer-text">
                <h3><b>Ask Quesiton and Share</b></h3>
            </div class="container my-5 chatbox bottom-half answer-text">
            <iframe width="315" height="560"
                src="https://www.youtube.com/embed/uS0ropq_hS8?si=rhgi1WZwjKxUse4Y&amp;start=46"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <div class="line"></div>
        </div>
        <div class="col-md-3 my-2 text-center">
            <div class="container my-5 chatbox bottom-half answer-text">
                <h3><b>Interact with others</b></h3>
            </div>
            <iframe width="315" height="560"
                src="https://www.youtube.com/embed/uS0ropq_hS8?si=MmAiaxMrqYxCg-Ws&amp;start=102"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <div class="line"></div>
        </div>
        <div class="col-md-3 my-2 text-center">
            <div class="container my-5 chatbox bottom-half answer-text">
                <h3><b>Share chat to Story</b></h3>
            </div>
            <iframe width="315" height="560"
                src="https://www.youtube.com/embed/uS0ropq_hS8?si=e-CEf2tNhLqZEdYU&amp;start=102"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <div class="line"></div>
        </div>
    </div>
</div>



<div id="adding-question" class="container my-5 chatbox bottom-half answer-text text-center" role="alert">
    Adding Questions and Sharing it's link to your Story
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt1.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt2.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt3.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt4.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt5.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt6facehidden.png" width="231" height="500">
            <div class="line"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt7.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt8.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt9.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt10.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt11.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-2 text-center">
            <img src="/static/guide/ask/addprompt12.png" width="231" height="500">
            <div class="line"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="/static/guide/ask/addprompt13.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-4 text-center">
            <img src="/static/guide/ask/addprompt14.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-4 text-center">
            <img src="/static/guide/ask/addprompt15.png" width="231" height="500">
            <div class="line"></div>
        </div>
    </div>
</div>



<div id="respond" class="container my-5 chatbox bottom-half answer-text text-center" role="alert">
    How one can Respond to your story
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="/static/guide/respond/friendly1.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-3 text-center">
            <img src="/static/guide/respond/friendly2.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-3 text-center">
            <img src="/static/guide/respond/friendly3.png" width="231" height="500">
            <div class="line"></div>
        </div>
        <div class="col-md-3 text-center">
            <img src="/static/guide/respond/friendly4.png" width="231" height="500">
            <div class="line"></div>
        </div>
    </div>
</div>

    <div id="reply-share" class="container my-5 chatbox bottom-half answer-text text-center" role="alert">
        Reply to anonymous texts and Share the conversation to your story
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare1.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare2.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare3.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare4.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare5.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare6.png" width="231" height="500">
                <div class="line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare7.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare8.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare9.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare10.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare11.png" width="231" height="500">
                <div class="line"></div>
            </div>
            <div class="col-md-2 text-center">
                <img src="/static/guide/reply/replyandshare12.png" width="231" height="500">
                <div class="line"></div>
            </div>
        </div>
    </div>
    {% endblock body %}