{% extends 'header.html' %}
{% block title %} Home | {% endblock title %}
{% block body %}
{% if username == current_user.username %}
<!-- Content of your webpage goes here -->
<div class="mt-3" id="content">
    <div class="centerbox">
        <div class="chatbox">
            <div class="drop-shadow"></div>
            <div class="top-half">
                <p class="question-text"># {{asking}}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="centerbox">
        <div class="chatbox">
            <div class="top-half">
                <p class="gradient-text">{{friendlytext}}</p>
            </div>
            <div class="bottom-half">
                {% if myreply =="" %}
                <form action="" method="POST" class="row g-3">
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="yourreply" name="yourreply"
                                placeholder="Reply back!">
                            <label for="yourreply">Reply Back!</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
                {% else %}
                <p class="answer-text">{{myreply}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container" align="center">
    <iframe id="myIframe" src="/sshotpage/{{psno}}/{{sno}}" width="90%" height="150"></iframe>
</div>

<script type="module" src="/static/js/screenshot.js"></script>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

{% else %}
<div class="container my-5 alert alert-danger" role="alert">
    You are not allowed back here {{current_user.username}}! Go back to your gully xD
</div>
{% endif %}

{% endblock body %}