{% extends 'header.html' %}
{% block title %} Register | {% endblock title %}
{% block body %}

<div class="container">
    <h1>Register</h1>
    <form action="" method="POST" class="row g-3 needs-validation" novalidate>
        <div class="input-group mb-3">
            <div class="has-validation form-floating">
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Name" required>
            <label for="fullname">Name</label>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a Name!
            </div>
            </div>
        </div><br />
        <div class="input-group mb-3">
            <div class="has-validation form-floating">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
            <label for="fullname">Email</label>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a Email!
            </div>
            </div>
        </div><br />
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <div class="has-validation form-floating">
                <input type="text" class="form-control" id="username" name="username" aria-describedby="inputGroupPrepend" placeholder="Username" required>
                <label for="username">Username</label>
                <div class="invalid-feedback">
                    <p style="margin-left:1em">Please choose a username!</p>
                </div>
            </div>
        </div><br />
        <div class="input-group mb-3">
            <div class="has-validation form-floating">
                <input type="password" class="form-control" id="password" name="password" aria-describedby="inputGroupPrepend" placeholder="Password" required>
                <label for="password">Password</label>
                <div class="invalid-feedback">
                    Please provide a password!
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
<br>
<h2>Already have an account? <a href="{{url_for('login')}}">Log in</a> </h2>
</div>

{% endblock body %}