{% extends 'header.html' %}
{% block title %} Home | {% endblock title %}
{% block body %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="centerbox">
            <div class="chatbox">
                <div class="top-half">
                    <form action="" method="POST" class="row g-3 needs-validation" novalidate>
                        <div class="input-group mb-3">
                            <div class="has-validation form-floating">
                            <input type="text" class="form-control" id="myreply" name="myreply" placeholder="Say something back!" required>
                            <label for="myreply">Say something back!</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a prompt!
                            </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <h1><a href="{{url_for('login')}}">Log in</a> <a href="{{url_for('signup')}}">Register</a> </h1>
        </div>
    </div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
{% endblock body %}
